language: r
cache: packages
latex: false
r_github_packages:
- metrumresearchgroup/covrpage
after_success:
- Rscript -e 'covr::codecov()'
- Rscript -e 'devtools::install(); covrpage::covrpage_ci()'
- Rscript -e 'pkgdown::build_site()'
deploy:
  provider: pages
  skip-cleanup: true
  github-token: "$GITHUB_PAT"
  keep-history: true
  local-dir: docs
  on:
    branch: master
env:
  global:
    secure: PJVssX7EdB9R7lOXMmYyXpN13/M3gEdaMsgNvZMOaFxB6h5DmvuW5As8ebvqniJZjn+8tat2Fonfb13O8W73hnRchX4YE8KzjzpF2Z6BWH41Qlk8vlPfU9Az364crUCy90cUNAIpzcQl2dyPAixcN5oiXHvGP+8hlNnd7IJojXkKf0NCef0URBF2+B/uXAGUWgS3oxtBNh5phXVwgw7t1Pibxo9VU7sO0Qarjg2bBFcvWUmoTSuFj4515gMccieV3bu6bvXiNSVxH1o8leCjfXaAuWcQjO57bt/90Zq1n1UqpG8s/WPN+nAx5o0NWs8jKDM6UynQEsfsBLiy9tgibVd4k6tVQoDkNH33SmRXWouTTCQ03fcE6kNFdvaYDkpgqQJq2WPqq+t4uTi64cDJqI15wY5tRS0tZ84B7qKiBCJCCu+bSlmsR2Wv9AJnGLU+uCgZ1P8pM9TlveAtdBI94S2ThqnZ1Q4n1GRh9deusqY5HEQPuF0b4L9vHOsujFjHSsWFDVMAP2rL1xtBhEDGAufD/GlQEjHsZknKJeTXvhlwPCdwCpBg8Ia5+HQv+Akibf5t3fwfhvC0ri4iKC6hPVZkpssCaH0mADNVUU9UDe5GkdDaTizuFDUZkSdD6WAJwaHVFYh2GpJb1/LQgK7nALaBhZqBgevTseAk0thouys=
notifications:
  slack:
    secure: bPZx3pR2Nzw6Fwv1+Uzs27+rGwiMr6Qy4iscc1I01CLtD5+7+c1bf9U2M+KAlXLIizNTmtHTfma89g9SFuBPVNpWy6dMtSrDrKRlxvC+TjQACCjpNvFqHztrP5ZnNJBqkrRO5SNDWG/DaXcdcAmHdoRcYk6thUYL8UsLnVbZhBhkzvdpWnXXE6quTx8li0BftmuxvDFzcCpd4t+2qtdJwuQteK0bxRfkg/RSGcujz4a55b5wVHnWLFVOTQpuE/lr7MePtYJYXahlwqIyT3KSQGGwHhjdu+LbEjj4HB5oBXgwCLzDtMfX/Ap1+wQSLrr0UeNt7aWFvFvmWDYDcsxzq9qx/4LmaQ5YWceS7ZCiVoAziGOvFJs/FnmFcLPmMN/TUR/s24tSvSA/2mTWolz+JNSoN8vnmAobqoqr86CoXW624wa8eJHt8kGxSa6vuQ3cth/hZhb7vZ3flwHL/DgsRjBXqQpdpNQlquL0AqKMo+ba9Pbo1VryXwVMDWK2VL54PVJEOwhGRmhQGBwsJcF1JHyDbbTAaSK0c8xhH7l59mI0676FnmDWMdGaI2rzMhM5yyundnLKbps0eZQV6gowydIz1pEys4YK4Lud9O8fk78hBZfsyzzG7LQS44+7870imoucUhoHnIidJC6FHsH6A/I8XvS43dWrRnNad7LHHM8=
