language: r
cache: packages
before_install:
- sudo apt-get -qq update
- sudo apt-get install -y texlive-base texlive-latex-base texlive-latex-extra texlive-fonts-recommended
  texlive-fonts-extra
- tlmgr install standalone
addons:
  apt:
    update:
    - true
    sources:
    - sourceline: 'ppa:opencpu/imagemagick'
    packages:
    - libmagick++-dev
r_github_packages:
- metrumresearchgroup/covrpage
after_success:
- Rscript -e 'covr::codecov()'
- Rscript -e 'devtools::install(); covrpage::covrpage_ci()'
- Rscript -e 'pkgdown::build_site()'
deploy:
  provider: pages
  skip-cleanup: true
  github-token: "$GITHUB_PAT"
  keep-history: true
  local-dir: docs
  on:
    branch: master
env:
  global:
    secure: PJVssX7EdB9R7lOXMmYyXpN13/M3gEdaMsgNvZMOaFxB6h5DmvuW5As8ebvqniJZjn+8tat2Fonfb13O8W73hnRchX4YE8KzjzpF2Z6BWH41Qlk8vlPfU9Az364crUCy90cUNAIpzcQl2dyPAixcN5oiXHvGP+8hlNnd7IJojXkKf0NCef0URBF2+B/uXAGUWgS3oxtBNh5phXVwgw7t1Pibxo9VU7sO0Qarjg2bBFcvWUmoTSuFj4515gMccieV3bu6bvXiNSVxH1o8leCjfXaAuWcQjO57bt/90Zq1n1UqpG8s/WPN+nAx5o0NWs8jKDM6UynQEsfsBLiy9tgibVd4k6tVQoDkNH33SmRXWouTTCQ03fcE6kNFdvaYDkpgqQJq2WPqq+t4uTi64cDJqI15wY5tRS0tZ84B7qKiBCJCCu+bSlmsR2Wv9AJnGLU+uCgZ1P8pM9TlveAtdBI94S2ThqnZ1Q4n1GRh9deusqY5HEQPuF0b4L9vHOsujFjHSsWFDVMAP2rL1xtBhEDGAufD/GlQEjHsZknKJeTXvhlwPCdwCpBg8Ia5+HQv+Akibf5t3fwfhvC0ri4iKC6hPVZkpssCaH0mADNVUU9UDe5GkdDaTizuFDUZkSdD6WAJwaHVFYh2GpJb1/LQgK7nALaBhZqBgevTseAk0thouys=
